{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Events</h1>

    <div>
        <button id="upcoming-btn">Upcoming Events</button>
        <button id="past-btn">Past Events</button>
    </div>

    <!-- Upcoming Events Section -->
    <div id="upcoming-events">
        <h2>Upcoming Events</h2>
        {% for event in events %}
            {% if event.status == 'upcoming' %}
                <div>
                    <h3>{{ event.title }}</h3>
                    <p>{{ event.description }}</p>
                    <p>Date: {{ event.event_date }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Past Events Section -->
    <div id="past-events" style="display: none;">
        <h2>Past Events</h2>
        {% for event in events %}
            {% if event.status == 'past' %}
                <div>
                    <h3>{{ event.title }}</h3>
                    <p>{{ event.description }}</p>
                    <p>Date: {{ event.event_date }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

{% block extras %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
