{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>Events</h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-end p-0">
            <button id="upcoming-btn">Upcoming Events</button>
        </div>
        <div class="col d-flex justify-content-start p-0">
            <button id="past-btn">Past Events</button>
        </div>
    </div>
</div>


    <!-- Upcoming Events Section -->
    <div id="upcoming-events">
        <h2>Upcoming Events</h2>
        {% for event in event_list %}
            {% if event.status == 'upcoming' %}
                <div>
                    <h3>{{ event.title }}</h3>
                    <p>{{ event.description }}</p>
                    <p>Date: {{ event.event_date }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Past Events Section -->
    <div id="past-events" style="display: none;">
        <h2>Past Events</h2>
        {% for event in events %}
            {% if event.status == 'past' %}
                <div>
                    <h3>{{ event.title }}</h3>
                    <p>{{ event.description }}</p>
                    <p>Date: {{ event.event_date }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

{% block extras %}
    <script src="{% static 'js/toggleevent.js' %}"></script>
{% endblock %}
