/* General Styles */
body {
     background-color: #171A1C;
     color: white;
}

main {
    min-height: 80vh;
}

.nav-link {
    color: white;
}

.navbar-header {
    color: white;
    font-style: bold;
}

.socials {
    font-size: 40px;
}

.navbar-toggler {
    border: 0;
    padding-right: 10px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    width: 40px;
    height: 40px;
  }
  
.socials a i {
    color: white;
}

/* Home page styles */

.home-logo {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    margin: 10px 0 0 0;
    padding: 0 0 10px 0;
}

.hero img {
    z-index: 1000;
    height: 80vh; /* Full viewport height */
    background-size: cover;
    background-position: center;
  }


/* Events Page */

#upcoming-btn, #past-btn {
    width: 15vw;
    border: white 2px solid;
    background-color: #171A1C;
    color: white;
}

#upcoming-btn:hover, #past-btn:hover {
    width: 15vw;
    border: white 2px solid;
    background-color: white;
    color: #171A1C;
    font-weight: 500;
}

#upcoming-btn {
    border-radius: 10px 0 0 10px;
}

#past-btn {
    border-radius: 0 10px 10px 0;
}