{% load static %} 
{% url 'home' as welcome_url %} 
{% url 'account_login' as login_url %} 
{% url 'account_signup' as signup_url %} 
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google Fonts CSS -->

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body class="d-flex flex-column h-100">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <span class="navbar-header">
            <h2>MATERIALS + + +</h2>
          </span>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-text" id="navbarText">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item me-3">
              <a
                class="nav-link {% if request.path == '' %}active{% endif %}"
                aria-current="page"
                href="{% url 'home' %}"
                >Home</a
              >
            </li>
            <li class="nav-item me-3">
              <a
                class="nav-link {% if request.path == 'events' %}active{% endif %}"
                aria-current="page"
                href="{% url 'events' %}"
                >Events</a
              >
            </li>
            <li class="nav-item me-3">
              <a
                class="nav-link {% if request.path == 'about' %}active{% endif %}"
                aria-current="page"
                href="{% url 'about' %}"
                >About</a
              >
            </li>
            <!-- <li class="nav-item me-3">
                    <a class="nav-link" aria-current="page"
                        href="#">Gallery</a>
                    </li> -->
          </ul>
        </div>
      </div>
    </nav>

    <main class="flex-shrink-0">
      {% block content %}
      <!-- Content Goes here -->
      {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer">
      <p class="m-0 text-center socials">
        <i class="fab fa-facebook-square ms-3"><a href="https://web.facebook.com/materialsevents?_rdc=1&_rdr"></a></i>
        <i class="fab fa-instagram-square ms-3"><a href="https://www.instagram.com/materials_events/"></a></i>
        <i class="fab fa-soundcloud ms-3"><a href="https://soundcloud.com/Materialsuk"></a></i>
      </p>
      <p class="m-0 text-center">
        {% block copyright %}
        <i class="fa-regular fa-copyright"></i> 2024 Materials • Privacy Policy
        {% endblock copyright %}
      </p>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/200607b541.js"
      crossorigin="anonymous"
    ></script>

    {% block extras %} {% endblock %}
  </body>
</html>
