{% extends "base.html" %} {% load static %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">About Materials</h1>
      <p>
        Materials is a UK-based multi-genre music collective. We are a group of
        musicians, producers, and DJs who are passionate about music and
        creating a community of like-minded individuals. Our goal is to bring
        people together through music and create a space where everyone can
        express themselves freely.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <h2 class="text-center">Our Mission</h2>
        <p>
            Our mission is to create a platform for artists to showcase their work
            and connect with their audience. We believe that music has the power to
            bring people together and create positive change in the world. We are
            committed to supporting emerging artists and providing them with the
            resources they need to succeed.
        </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <h2 class="text-center">Our Story</h2>
        <p>
            Materials was founded in 2018 by a group of friends who shared a love
            for music and a desire to create a community of artists and fans. Since
            then, we have grown into a diverse and inclusive collective that
            celebrates music in all its forms. We host events, release music, and
            collaborate with artists from around the world.
        </p>
    </div>
  </div>
</div>

{% endblock %}